.loading-block {
  .loading-item {
    height: 32px;
    margin-bottom: 30px;
    border-radius: 4px;
    animation: shimmer 3s infinite linear;
    background: linear-gradient(
      to right,
      darken($background_grey, 2%) 4%,
      darken($background_grey, 2.5%) 25%,
      darken($background_grey, 1%) 36%
    );
    background-size: 500px 100%;
    box-shadow: -6px -6px 20px rgba(255, 255, 255, 1), 6px 6px 20px rgba(0, 0, 0, 0.1);

    &:first-of-type {
      width: 40%;
    }
  }

  @keyframes shimmer {
    0% {
      background-position: -1000px 0;
    }
    100% {
      background-position: 500px 0;
    }
  }
}
