h1,
h2,
h3,
h4,
h5 {
  color: $blue;
}

.body-bold {
  font-weight: 600;
}

.large-heavy {
  font-size: 28px;
  line-height: 1;
  color: $body-text;
  font-weight: 600;

  &.blue {
    color: $bright_blue;
  }

  @media (max-width: 576px) {
    font-size: 20px;
  }
}

.medium-heavy {
  font-size: 20px;
  line-height: 1.5;
  color: $body-text;
  font-weight: 600;

  @media (max-width: 576px) {
    font-size: 18px;
  }
}
