// colors
$light-blue: #6a9bd8;
$blue: #3882e2;
$bright_blue: #2e89ff;
$green: #499d2a;
$dark_blue: #325075;
$body-text: #41454a;
$grey: #585e66;
$light_grey: #dee2e6;
$background_grey: #ebf5fc;

// position
$header_ht: 50px;
