@import "./styles/all";

body {
  margin: 0;
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #ebf5fc;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.neu-card {
  padding: 40px 30px;
  background: #ebf5fc;
  border-radius: 30px;
  box-shadow: -6px -6px 20px rgba(255, 255, 255, 1), 6px 6px 20px rgba(0, 0, 0, 0.1);
  max-width: 600px;
}

.center-content {
  margin: 0 auto;
}
